/* Estilo del fondo de Inicio*/


body {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.4px;
  margin: 2rem;
  background-color: #fffef7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #274C77;
}

.exclusion {
  color: white;
}

h6 {
  line-height: 140%;
  letter-spacing: 0.4px;

}

.image-container {
    position: relative;
    display: flex;
    width: 100%;
    align-content: center;
  }

  .imagen-casa {
    width: 100%;
    height: 550px;
    align-items: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay negro semitransparente */
  }
  
  .text {
    position: relative;
    color: white;
    z-index: 1;
    justify-content: left;
    align-items: center;
    text-align: justify;
    padding: 2rem;
  }

.btn {
  background-color: #A3CEF1;
  color: #274C77;
}

button {
  margin-top: 20px;
  padding: 0px;
  background-color: #A3CEF1;
  color: #274C77;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #274C77;
  color: #A3CEF1;
}

