
/* Style de Datos en Números*/

.data-container {
    text-align: center;
    margin: 15px;
}
.data-number {
    font-size: 2em;
    font-weight: bold;
    color: #274C77;
}
.data-description {
    font-size: 1em;
    color: #555;
}
