
/* Style de Datos en Números*/

.data-container {
    text-align: center;
    margin: 15px;
}
.data-number {
    font-size: 2em;
    font-weight: bold;
    color: #274C77;
}
.data-description {
    font-size: 1em;
    color: #555;
}


h2 {
    padding-bottom: 20px;
}

.definciones ul {
    padding: 20px;
}

.definiciones li {
    font-size: large;
    padding: 20px;
}