
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    margin-top: 1cm;
}

.sobrenosotros .quienes_somos .proposito .mision .valores p {
    padding: 10px;
}

.sobrenosotros {
    padding: 20px ;
    margin-top: 2cm;
}

.quienes_somos {
    padding: 20px;
}

.proposito {
    padding: 20px;
}

.mision {
    padding: 20px;
}

.valores {
    padding: 20px;

}

.data-container {
    text-align: center;
    margin: 15px;
}
.data-number {
    font-size: 2em;
    font-weight: bold;
    color: #274C77;
}
.data-description {
    font-size: 1em;
    color: #555;
}
